# Arquivos compilados do Java
*.class
*.jar
*.war
/target/

# Arquivos de IDE
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
*.log

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# --- ARQUIVOS CONFIDENCIAIS - O MAIS IMPORTANTE ---
# Ignora o arquivo de configuração principal com as senhas
/src/main/resources/application.properties

# Ignora o arquivo de chave de serviço do Firebase
/src/main/resources/firebase-service-account.json
# --------------------------------------------------